<div class="container">
    <div class="row mt-5">
        <h1 class="text-danger">ABOUT US</h1>
    </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquam
        dolorem quisquam. Tempore dicta voluptas autem nam praesentium
        doloremque illo, minus nobis quod debitis beatae qui exercitationem vero
        quo quas animi amet eos architecto. Sed quam ullam inventore minus
        aliquam asperiores optio reiciendis atque ipsum non! Excepturi cum fuga
        libero sunt quia officia alias provident et facilis nam porro cumque,
        voluptatibus rem, temporibus quo iure architecto laborum corporis!
        Facilis rem nemo, enim necessitatibus atque veritatis illo nulla vel
        voluptatibus minima ratione. Impedit eligendi ea placeat, eveniet ipsam
        inventore corporis cumque libero quibusdam atque non, aut laudantium
        ducimus, vel sint officia!
      </p>
    </div>
    <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aliquam
          dolorem quisquam. Tempore dicta voluptas autem nam praesentium
          doloremque illo, minus nobis quod debitis beatae qui exercitationem vero
          quo quas animi amet eos architecto. Sed quam ullam inventore minus
          aliquam asperiores optio reiciendis atque ipsum non! Excepturi cum fuga
          libero sunt quia officia alias provident et facilis nam porro cumque,
          voluptatibus rem, temporibus quo iure architecto laborum corporis!
          Facilis rem nemo, enim necessitatibus atque veritatis illo nulla vel
          voluptatibus minima ratione. Impedit eligendi ea placeat, eveniet ipsam
          inventore corporis cumque libero quibusdam atque non, aut laudantium
          ducimus, vel sint officia!
        </p>
      </div>
  </div>
</div>
