<div class="container">
    <div class="row">
        <div class="col-md-4 my-4">
          <div class="card">
            <div class="sticky-top ml-auto">
              <span class="badge badge-light"><i class="fa fa-tag" aria-hidden="true" style="color: #C10000;"></i>60% off</span>
            </div>
            <div class="d-flex justify-content-center p-3">
              <img src="/assets/images/places/place-1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Manali</h5>
                <span class="text-danger">Ticket starting from $65</span>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="card">
            <div class="sticky-top ml-auto">
              <span class="badge badge-light"><i class="fa fa-tag" aria-hidden="true" style="color: #C10000;"></i>60% off</span>
            </div>
            <div class="d-flex justify-content-center p-3">
              <img src="/assets/images/places/place-2.jpg" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Kuttanad</h5>
                <span class="text-danger">Ticket starting from $45</span>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="card">
            <div class="sticky-top ml-auto">
              <span class="badge badge-light"><i class="fa fa-tag" aria-hidden="true" style="color: #C10000;"></i>60% off</span>
            </div>
            <div class="d-flex justify-content-center p-3">
              <img src="/assets/images/places/place-3.jpg" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Golden Temple</h5>
                <span class="text-danger">Ticket starting from $56</span>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="card">
            <div class="sticky-top ml-auto">
              <span class="badge badge-light"><i class="fa fa-tag" aria-hidden="true" style="color: #C10000;"></i>60% off</span>
            </div>
            <div class="d-flex justify-content-center p-3">
              <img src="/assets/images/places/place-4.jpg" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Varanasi</h5>
                <span class="text-danger">Ticket starting from $60</span>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
          <div class="card">
            <div class="sticky-top ml-auto">
              <span class="badge badge-light"><i class="fa fa-tag" aria-hidden="true" style="color: #C10000;"></i>60% off</span>
            </div>
            <div class="d-flex justify-content-center p-3">
              <img src="/assets/images/places/place-5.jpg" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Kasol</h5>
                <span class="text-danger">Ticket starting from $40</span>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger">Book Now</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4">
            <div class="card">
              <div class="sticky-top ml-auto">
                <span class="badge badge-light"><i class="fa fa-tag" aria-hidden="true" style="color: #C10000;"></i>60% off</span>
              </div>
              <div class="d-flex justify-content-center p-3">
                <img src="/assets/images/places/place-6.jpg" class="img-fluid" alt="" />
              </div>
              <div class="card-body">
                <h5 class="card-title">Taj Mahal</h5>
                  <span class="text-danger">Ticket starting from $50</span>
              </div>
              <div class="card-footer">
                <button class="btn btn-danger">Book Now</button>
              </div>
            </div>
          </div>
      </div>
      
</div>