<div class="container">
  <div class="row d-flex justify-content-center my-5">
    <h1 class="custom-font">How can we help?</h1>
  </div>
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0">
            <div class="card-body">
                <img src="/assets/images/customer-care/user.png" alt="">
                <br><small class="text-danger">Profile issues</small>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0">
            <div class="card-body">
                <img src="/assets/images/customer-care/ticket.png" alt="">
                <br><small class="text-danger">Ticket issues</small>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0">
            <div class="card-body">
                <img src="/assets/images/customer-care/security.png" alt="">
                <br><small class="text-danger">Security issues</small>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0">
            <div class="card-body">
                <img src="/assets/images/customer-care/payment.png" alt="">
                <br><small class="text-danger">Payment issues</small>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0">
            <div class="card-body">
                <img src="/assets/images/customer-care/call.png" alt="">
                <br><small class="text-danger">Make a call</small>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <div class="card border-0">
            <div class="card-body">
                <img src="/assets/images/customer-care/communication.png" alt="">
                <br><small class="text-danger">Communication issue</small>
            </div>
        </div>
    </div>
  </div>
</div>
