<section>
    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container-fluid col-md-10">
                    <div class="row">
                        <div class="col-md-8 side-border main-color-bg top-right-corner">
                            <div class="row p-2">
                                <div class="ticket-logo mr-auto">
                                    <img class="img-fluid" src="/assets/images/icon/logo.png" alt="" width="150">
                                </div>
                                <div class="ml-auto mr-5 text-light d-flex align-content-center flex-wrap justify-content-center">
                                    <span>BOARDING PASS</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 main-color-bg top-left-corner">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card p-3">
                                <div class="card mt-1">
                                    <h6 class="ticket-font-lite">PASSENGER NAME :</h6>
                                    <h5 class="ticket-font">AJITH D</h5>
                                </div>
                                <div class="card mt-1">
                                    <h6 class="ticket-font-lite">BOARDING TIME :</h6>
                                    <h5 class="ticket-font">19.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-3">
                                <div class="card mt-1">
                                    <h6 class="ticket-font-lite">FROM :</h6>
                                    <h5 class="ticket-font">Delhi</h5>
                                </div>
                                <div class="card mt-1">
                                    <h6 class="ticket-font-lite">TO :</h6>
                                    <h5 class="ticket-font">Goa</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card p-3">
                                <div class="card">
                                    <h6 class="ticket-font-lite">PASSENGER NAME :</h6>
                                    <h5 class="ticket-font">AJITH D</h5>
                                </div>
                                <div class="card mt-1">
                                    <div class="row">
                                        <div class="col-md-5 d-flex justify-content-left">
                                            <div class="card">
                                                <h6 class="ticket-font-lite">FROM :</h6>
                                                <h5 class="ticket-font">Delhi</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex align-content-center flex-wrap justify-content-left">
                                            <img class="" width="25" src="/assets/images/icon/flight-icon.png" alt="">
                                        </div>
                                        <div class="col-md-5 d-flex justify-content-center">
                                            <div class="card">
                                                <h6 class="ticket-font-lite">TO :</h6>
                                                <h5 class="ticket-font">Goa</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8  main-color-shadow bottom-right-corner">
                            <div class="row">
                                <div class="col-md-2 side-border-red d-flex align-content-center flex-wrap justify-content-center">
                                    <div class="card mt-1">
                                        <h6 class="ticket-font-lite">GATE :</h6>
                                        <h5 class="ticket-font">A5</h5>
                                    </div>
                                </div>
                                <div class="col-md-6 side-border-red d-flex align-content-center flex-wrap justify-content-center">
                                    <div class="card mt-1">
                                        <h6 class="ticket-font-lite">FLIGHT :</h6>
                                        <h5 class="ticket-font">AB123</h5>
                                    </div>
                                </div>
                                <div class="col-md-4 side-border d-flex align-content-center flex-wrap justify-content-center">
                                    <div class="card mt-1">
                                        <h6 class="ticket-font-lite">SEAT :</h6>
                                        <h5 class="ticket-font">20B</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 main-color-shadow bottom-left-corner d-flex align-content-center flex-wrap">
                            <div class="card mt-1 ml-2 mr-auto">
                                <h6 class="ticket-font-lite">DATE :</h6>
                                <h5 class="ticket-font">15 SEP</h5>
                            </div>
                            <div class="card mt-1 ml-auto">
                                <img class="barcode img-fluid" src="/assets/images/icon/barcode.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container-fluid col-md-10">
                    <div class="row">
                        <div class="col-md-3 side-border main-color-bg top-right-corner d-flex align-items-center justify-content-center" style="min-height: 17.5rem;">
                            <div class="text-light ticket-font">
                                <span>BOARDING PASS</span>
                            </div>
                        </div>
                        <div class="col-md-9 main-color-bg top-left-corner d-flex align-items-center justify-content-center" style="min-height: 17.5rem;">
                            <img class="img-fluid ticket-logo" src="/assets/images/icon/logo.png" alt="">
                        </div>
                    </div>
                </div>
              </div>
            </div>
           <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
        </div>
    </div>
</section>